#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15%;
}

body {
  background-color: #ffffff;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.nav-item-1 {
  margin-left: 1000px;
}

.navbar-brand {
  margin-left: 20px;
}

.box {
  box-shadow: 10px 10px 5px 12px lightblue;
}
